@charset "UTF-8";

// 설정하기
.setting-box {
    @include fill-height;
    padding: var(--spacer);

    .setting-list {
        @include fill-height;
        gap: 16rem;

        .setting-item {
            width: 100%;
            padding: 24rem;
            padding-right: 10rem;
            border:1px solid #D3D3D3;
            border-radius: 8rem;
            background-color: #fff;

            .setting-header {
                display: flex;
                align-items: center;

                .setting-title {
                    display: flex;
                    align-items: center;
                    gap: 16rem;
                    flex: none;
                    width: 260rem;
                    margin-right: 30rem;
                    .num {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 28rem;
                        height: 28rem;
                        border-radius: 8rem;
                        background-color: #2a2a2a;
                        color: #fff;
                        font-size: 18rem;
                        font-weight: 700;
                        line-height: 20rem;
                    }
                    .tit {
                        position: relative;
                        top: 1px;
                        font-size: 20rem;
                        font-weight: 700;
                        line-height: 28rem;
                        color: #2A2A2A;
                    }
                }

            }

            &.is-selection {
                display: flex;
                flex-direction: row;
            }

            &.is-active {
                @include fill-height;
                border-color: $color-primary;
                .setting-header {
                    flex: none;
                    .setting-title {
                        .num {
                            background-color: $color-primary;
                            color: #fff;
                        }
                        .tit {
                            color: $color-primary;
                        }
                    }
                }
                .setting-body {
                    @include fill-height;

                    .setting-active {
                        @include fill-height;
                        overflow: auto;
                        margin-top: 28rem;
                        padding-top: 18rem;
                        padding-left: 20rem;
                        padding-right: calc(27rem - 8rem); //스크롤 너비 제거
                    }
                    .setting-selection {
                        display: none;
                        padding-right: 14rem;
                    }
                }

            }
        }
    }

    .setting-action {
        width: 100%;
        margin-top: 32rem;

        .btn-action {
            width: 100%;
            height: 60rem;
            background: linear-gradient(180deg, #FF6652 0%, #E24E3B 105.68%);

            border-radius: 8rem;
            font-weight: 700;
            font-size: 18rem;
            line-height: 1.5;
            color: #fff;
        }
    }

    // 1. 교과서 선택
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 32rem 30rem;

        .book-card {
            &.module-a {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                width: 100%;
                text-align: center;

                .book-thumb {
                    width: 160rem;
                    aspect-ratio: 160/209;
                    overflow: hidden;
                    border-radius: 8rem;
                    box-shadow: 0px 0px 12rem rgba(0, 0, 0, 0.2);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .book-cont {
                    margin-top: 12rem;
                    flex: none;
                    .title {
                        font-weight: 700;
                        font-size: 16rem;
                        line-height: 24rem;
                        color: #000000;
                    }
                    .name {
                        font-weight: 400;
                        font-size: 14rem;
                        line-height: 20rem;
                        color: #666666;
                    }
                }

                &.is-selected {
                    .book-thumb {
                        outline: 2px solid $color-primary;
                    }
                    .book-cont {
                        .title {
                            color: $color-primary;
                        }
                    }
                    &::after {
                        content:'';
                        position: absolute;
                        top:  8rem;
                        right:  8rem;
                        display: block;
                        width: 32rem;
                        height: 32rem;
                        background: no-repeat center center / contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16.3984' cy='16' r='16' fill='%23FF6652'/%3E%3Cpath d='M13.8282 23.3332C13.5479 23.333 13.2713 23.2725 13.0194 23.156C12.7675 23.0396 12.547 22.8704 12.3746 22.6613L8.15424 17.4262C7.9969 17.2464 7.87929 17.0386 7.80836 16.8151C7.73742 16.5915 7.71461 16.3568 7.74127 16.1248C7.76793 15.8927 7.84352 15.6681 7.96357 15.4642C8.08361 15.2603 8.24567 15.0813 8.44016 14.9377C8.63465 14.7941 8.85761 14.6888 9.09585 14.6282C9.33409 14.5676 9.58276 14.5528 9.82716 14.5847C10.0716 14.6166 10.3067 14.6945 10.5187 14.8139C10.7307 14.9333 10.9152 15.0917 11.0613 15.2798L13.8282 18.7542L21.733 9.378C21.8791 9.18995 22.0636 9.03153 22.2756 8.91213C22.4876 8.79273 22.7227 8.71478 22.9671 8.68288C23.2115 8.65098 23.4602 8.66579 23.6984 8.72642C23.9367 8.78705 24.1596 8.89228 24.3541 9.03588C24.5486 9.17948 24.7107 9.35853 24.8307 9.56243C24.9508 9.76633 25.0263 9.99095 25.053 10.223C25.0797 10.455 25.0568 10.6897 24.9859 10.9133C24.915 11.1368 24.7974 11.3446 24.64 11.5244L15.2817 22.6613C15.1093 22.8704 14.8888 23.0396 14.6369 23.156C14.3851 23.2725 14.1085 23.333 13.8282 23.3332Z' fill='white'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
    }

    // 2. 단원 및 단어 선택
    .selected-word {
        margin-top: 8rem;
        display: flex;
        gap: 8rem;

        .word {
            display: flex;
            align-items: center;
            height: 32rem;
            padding: 2rem 16rem 0;
            border:1px solid #c0c0c0;
            border-radius: 4rem;
            font-size: 16rem;
            line-height: 140%;
            color: #9B9B9B;
        }
    }

    // 3. 스토리 확인
    .story-confirm {
        position: relative;
        width: 100%;

        .util-create {
            position: absolute;
            top: 24rem;
            right: 24rem;
        }

        .util-edit {
            position: absolute;
            bottom: 24rem;
            right: 24rem;
        }
    }

    // 4. 추가학습 단계
    .selection-learning {
        display: flex;
        gap: 24rem;

        .btn {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 8rem;
            padding: 60rem;
            gap: 48rem;
            border:1px solid #C0C0C0;
            word-break: keep-all;
            transition: all 0.2s ease;

            &::before {
                content:'';
                display: block;
                flex: none;
                width: 148rem;
                height: 148rem;
                background: no-repeat center center / 100%;
            }

            &::after {
                content:'';
                position: absolute;
                top: 24rem;
                right: 24rem;
                display: block;
                flex: none;
                width: 48rem;
                height: 48rem;
                background: no-repeat center center / 100%;
                background-image: url(#{$com-url}icn-48-chcke-off.svg);
            }

            .btn-body {
                position: relative;
                display: block;
                line-height: 1.4;
                text-align: left;

                .btn-tit {
                    display: block;
                    font-size: 36rem;
                    font-weight: 700;
                    color: #2a2a2a;
                }
                .btn-explan {
                    display: block;
                    margin-top: 24rem;
                    font-size: 20rem;
                    font-weight: 400;
                    color: #565656;
                }
            }

            &.type-basic {
                &::before {
                    background-image: url(#{$ele-url}img-basic-learning.svg);
                }
            }

            &.type-deep {
                &::before {
                    background-image: url(#{$ele-url}img-deep-learning.svg);
                }
            }

            &.is-checked {
                background: rgba(255, 240, 240, 0.6);
                border: 1px solid rgba(255, 102, 82, 0.4);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                &::after {
                    background-image: url(#{$ele-url}icn-48-chcke-on.svg);
                }
            }
        }
    }
}

// 채팅하기
.chat-box {
    background-color: #F4F4F4;
    padding: 20rem;

    // 채팅 레이아웃
    .chat-list {
        display: flex;
        flex-direction: column;
        gap: 32rem;

        .chat-item {
            display: flex;
            justify-content: flex-start;
            gap: 12rem;
            width: 100%;

            .chat-avata {
                order: 1;
                flex: none;
                width: 60rem;
                height: 60rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .chat-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                order: 2;
            }

            // Case 상대방
            &.order {
                justify-content: flex-end;
                .chat-avata {
                    order: 2;
                }
                .chat-body {
                    order: 1;
                    align-items: flex-end;
                }
            }
        }
    }

    // 스토리 채팅 - 스토리
    .story-chat {
        padding: 16rem;
        background-color: #fff;
        border-radius: 8rem;
        .story-hint {
            color: green;
        }
        .story-original {
            font-weight: 700;
            font-size: 14rem;
            color: #222;
            line-height: 1.5;
        }
        .story-translated {
            margin-top: 8rem;
            font-weight: 500;
            font-size: 14rem;
            color: #999;
            line-height: 1.5;
        }
        .story-utils {
            margin-top: 8rem;
        }
    }

    // 스토리 채팅 - 힌트
    .story-record-chat {
        display: flex;
        align-items: center;
        gap: 8rem;
        padding: 16rem;
        background-color: green;
        border-radius: 8rem;
        color: #fff;

        .hint-explan {
            font-weight: 500;
            font-size: 14rem;
            line-height: 1.5;
        }
        .hint-label {
            display: inline-block;
            padding: 2rem 6rem;
            border-radius: 4rem;
            background-color: darkgreen;
            font-size: 14rem;
            line-height: 1.5;
        }
    }

    // 스토리 채팅 - 교정 대상
    .story-corect-chat {
        display: inline-flex;
        align-items: center;
        gap: 8rem;
        padding: 16rem;
        background-color: green;
        border-radius: 8rem;
        color: #fff;
    }

    // 스토리 채팅 - 교정 피드백
    .story-feedback-chat {
        margin-top: 12rem;
        background-color: blanchedalmond;
        border-radius: 16rem;
        padding: 16rem;

        .title {
            font-weight: 500;
            font-size: 16rem;
            line-height: 1.5;
            color: red;
        }
        .explan {
            font-weight: 500;
            font-size: 14rem;
            line-height: 1.5;
            color: #666;
        }
        .corect {
            margin-top: 8rem;
            font-weight: 500;
            font-size: 14rem;
            line-height: 1.5;
            color: #222;

            .corect-label {
                font-weight: 500;
                font-size: 14rem;
                line-height: 1.5;
            }
            .corect-translated {
                margin: 2rem 0 0 0;
                font-weight: 400;
                font-size: 14rem;
                line-height: 1.5;
            }
        }
    }
}
