@charset "UTF-8";
@import 'variables', 'functions', 'breakpoint';

// 시스템
:root {
    --spacer: 40px;
    --spacer-inner: 24px;
    --gap: 20px;
    --max-width: 1280px;

    @include tablet {
        --spacer: 20px;
        --spacer-inner: 18px;
        --gap: 12px;
    }

    @include mobile-xl {
        --spacer: 20px;
        --spacer-inner: 16px;
        --gap: 8px;
    }
}

html {
    font-size: 1px;
}

html, body, .page-wrap {
    height: 100%;
}

// 레이아웃
.page-wrap {

    // Case 기본
    & {
        display: flex;
        flex-direction: column;
        .page-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex-grow: 1;
        }
    }

    // Case 스토리챗 설정화면
    &.type-setting {
        align-items: center;
        background-color: #31324D;

        .page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: none;
            width: 100%;
            height: 64rem;
            max-width: var(--max-width);
            padding-left: var(--spacer);
            background-color: #fff;
            box-sizing: border-box;

            .logo-area {
                margin-right: auto;
            }
            .util-area {
                position: relative;
                display: flex;
                gap: 28rem;
                height: 100%;
                align-items: center;
                padding-right: var(--spacer);
                background-color: #31324D;
                &::before {
                    content:'';
                    display: block;
                    position: absolute;
                    right: calc(100% - 16rem);
                    top: 0;
                    width: 90rem;
                    height: 100%;
                    background: url('../../../img/common/img-header-round-ta.png') no-repeat center center / contain;
                }
            }
            .logo {
                a {
                    display: block;
                    width: 168rem;
                    height: 28rem;
                    background: no-repeat center center / contain;
                    background-image: var(--bg-logo);
                }
            }

            .step-list {
                display: flex;
                align-items: center;
                gap: 16rem;

                .step-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 8rem;

                    &::before {
                        content:'';
                        display: none;
                        width: 24rem;
                        height: 24rem;
                        border-radius: 50%;
                        background-color: #87889E;
                    }

                    .step-num {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24rem;
                        height: 24rem;
                        padding-bottom: 2px;
                        border-radius: 50%;
                        color: #fff;
                        font-weight: 700;
                        font-size: 14rem;
                        line-height: 20rem;
                        background-color: #55566C;
                    }

                    .step-label {
                        display: none;
                        position: relative;
                        top: -1px;
                        font-weight: 700;
                        font-size: 16rem;
                        line-height: 24rem;
                        color: #fff;
                    }

                    &.is-completed {
                        &::before {
                            display: flex;
                            background-color: none;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='%23E4E4E4' fill-opacity='0.2'/%3E%3Cpath d='M11.1354 16.3645C10.9781 16.3644 10.823 16.3307 10.6817 16.2659C10.5403 16.2011 10.4166 16.1069 10.3199 15.9905L7.95211 13.0767C7.86384 12.9767 7.79785 12.861 7.75805 12.7366C7.71826 12.6122 7.70546 12.4815 7.72042 12.3524C7.73537 12.2232 7.77778 12.0982 7.84513 11.9847C7.91248 11.8712 8.00341 11.7716 8.11252 11.6917C8.22164 11.6117 8.34673 11.5532 8.48039 11.5194C8.61405 11.4857 8.75356 11.4774 8.89068 11.4952C9.02779 11.5129 9.15972 11.5563 9.27865 11.6228C9.39758 11.6892 9.5011 11.7774 9.58308 11.8821L11.1354 13.8159L15.1963 8.96828C15.2783 8.86361 15.3818 8.77543 15.5007 8.70898C15.6196 8.64252 15.7516 8.59913 15.8887 8.58138C16.0258 8.56363 16.1653 8.57187 16.299 8.60561C16.4326 8.63936 16.5577 8.69793 16.6668 8.77786C16.776 8.85778 16.8669 8.95744 16.9342 9.07093C17.0016 9.18442 17.044 9.30943 17.0589 9.43858C17.0739 9.56772 17.0611 9.69837 17.0213 9.82279C16.9815 9.94721 16.9155 10.0629 16.8273 10.1629L11.9509 15.9905C11.8542 16.1069 11.7305 16.2011 11.5892 16.2659C11.4479 16.3307 11.2927 16.3644 11.1354 16.3645Z' fill='white'/%3E%3C/svg%3E%0A");
                        }
                        .step-num {
                            display: none;
                        }
                    }

                    &.is-current {
                        &::before {
                            display: none;
                        }
                        .step-num, .step-label {
                            display: flex;
                        }
                        .step-num {
                            background-color: $color-primary;
                        }
                    }
                }
            }

            .btn-home {
                display: block;
                width: 40rem;
                height: 40rem;
                background: no-repeat center center / contain;
                background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='white'/%3E%3Cpath d='M21.8672 25.9199H26.1338V32.6413H21.8672V25.9199Z' fill='%23333450'/%3E%3Cpath d='M32.9817 22.2508L24.7578 14.6844C24.6586 14.5944 24.5406 14.523 24.4107 14.4742C24.2807 14.4255 24.1413 14.4004 24.0005 14.4004C23.8596 14.4004 23.7202 14.4255 23.5902 14.4742C23.4603 14.523 23.3423 14.5944 23.2431 14.6844L15.0192 22.2604C14.8202 22.441 14.663 22.6554 14.5568 22.8911C14.4506 23.1268 14.3975 23.3791 14.4005 23.6335V31.68C14.3997 32.1715 14.6083 32.6446 14.9833 33.0019C15.3583 33.3592 15.8713 33.5734 16.4165 33.6004H19.7338V24.9586C19.7338 24.7039 19.8462 24.4597 20.0462 24.2796C20.2463 24.0995 20.5176 23.9984 20.8005 23.9984H27.2004C27.4833 23.9984 27.7546 24.0995 27.9547 24.2796C28.1547 24.4597 28.2671 24.7039 28.2671 24.9586V33.6004H31.5844C32.1296 33.5734 32.6426 33.3592 33.0176 33.0019C33.3926 32.6446 33.6012 32.1715 33.6004 31.68V23.6335C33.6012 23.1178 33.3794 22.622 32.9817 22.2508Z' fill='%23333450'/%3E%3C/svg%3E%0A");
                border: 0;
                border-radius: 50%;
            }

        }

        .page-body {
            @include fill-height;
            border-radius: 0 36rem 0 0;
            background-color: #fff;
            max-width: var(--max-width);
            box-sizing: border-box;

            .content {
                @include fill-height;
            }
        }
    }
}
