@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap);

// font, color
//$font-stack: 'SUIT Variable', 'Roboto', 'Noto Sans KR', sans-serif;
$font-stack: 'Roboto', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
$base-font-size: 10px;
$base-text-color: #111112;
$base-dark-color: #333;
$base-font-weight: 400;
$base-letter-spacing: -0.5px;
$base-line-height: 1.12;
$base-radius: 5px;

$base-color: #ffffff;

// url
$com-url: '../../../img/common/';
$ele-url: '../../../img/ele/';
$mid-url: '../../../img/mid/';
$hi-url: '../../../img/hi/';

// Breakpoints
$breakpoint-tablet: 1279px;
$breakpoint-mobile-xl: 1023px;
$breakpoint-mobile-xm: 719px;
$breakpoint-mobile-xs: 479px;

// Color
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);

// Fill Height
@mixin fill-height {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    width: 100%;
}

// 컴포넌트
@mixin btn-base-60 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60rem;
    padding: 0 16rem;
    border-radius: 8rem;
    font-weight: 700;
    font-size: 18rem;
    line-height: 1.5;
    color: #767676;
}
@mixin btn-base-48 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 48rem;
    padding: 0 16rem;
    border-radius: 8rem;
    font-weight: 700;
    font-size: 16rem;
    line-height: 1.5;
    color: #767676;
}
@mixin btn-base-44 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 44rem;
    padding: 0 16rem;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 16rem;
    line-height: 24rem;
    color: #767676;
}
@mixin btn-base-40 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40rem;
    padding: 0 16rem;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 14rem;
    line-height: 20rem;
    color: #767676;
}
@mixin btn-base-32 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    position: relative;
    height: 32rem;
    padding: 0 12rem;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 12rem;
    line-height: 16rem;
    color: #767676;
}
@mixin btn-round-28 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
    height: 28rem;
    padding: 0 12rem;
    border-radius: 28rem;
    font-weight: 700;
    font-size: 12rem;
    line-height: 16rem;
    color: #fff;
}
@mixin btn-fill-primary {
    background: var(--color-primary-gradation);
    color: #fff;
}
@mixin btn-fill-dark {
    background: #333450;
    color: #fff;
}
@mixin btn-line-normal {
    border: 1px solid #CCCCCC;
    background-color: #fff;
}
@mixin btn-base-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
