@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap);

// font, color
//$font-stack: 'SUIT Variable', 'Roboto', 'Noto Sans KR', sans-serif;
$font-stack: 'Roboto', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
$base-font-size: 10px;
$base-text-color: #666;
$base-dark-color: #333;
$base-font-weight: 400;
$base-letter-spacing: -0.5px;
$base-line-height: 1.12;
$base-radius: 5px;

$base-color: #ffffff;

// url
$root-url: '../../../../../asset/img/common/';
$com-url: '../../../img/common/';
$pages-url: '../../../img/pages/';
$ele-url: '../../../img/ele/';
$mid-url: '../../../img/mid/';
$hi-url: '../../../img/hi/';

// Breakpoints
$breakpoint-tablet: 1279px;
$breakpoint-mobile-xl: 1023px;
$breakpoint-mobile-xm: 719px;
$breakpoint-mobile-xs: 479px;

// Color
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);

@mixin dropdown-default {
    position: relative;
    .dropdown-menu {
        display: none;
        z-index: 30;
        &.show {
            display: block;
        }
    }
}

@mixin tabContent-default {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}
@mixin tabPane-default {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    width: 100%;
    &.active {
        display: flex;
    }
}

@mixin board-sec {
    .sec-header {
        display: flex;
        justify-content: space-between;
        .sec-title {
            font-weight: 700;
            font-size: 28rem;
            line-height: 40rem;
            color: #000;
        }
        .sec-util {
            display: flex;
            gap: 12rem;
            margin-left: auto;

            .btn-delete {
                @include btn-base-40;
                @include btn-line-normal;
                @include btn-base-shadow;
            }
            .btn-primary {
                @include btn-base-40;
                @include btn-fill-primary;
                @include btn-base-shadow;
            }
            .btn-delete {
                @include btn-base-40;
                @include btn-line-normal;
                @include btn-base-shadow;
            }
        }
    }
    .sec-body {
        margin-top: 20rem;
    }

}
