<div class="popup-wrap">
    <div class="overlay"></div>

    <!-- Test Popup -->
    <div class="layerpop" id="testPopup">
        <div class="popup-content xl3">
            <div class="popup-header">
                <h2 class="title">Test Popup</h2>
                <div class="btn-box">
                    <button type="button" class="close ico-modal-close-bg">닫기</button>
                </div>
            </div>
            <div class="popup-body ver3">
                Test Popup Area
            </div>
        </div>
    </div>
    <!-- //Test Popup -->

    <!-- 대화다시보기 Popup -->
    <div class="layerpop" id="testPopup">
        <div class="popup-content xl3">
            <div class="popup-header">
                <h2 class="title">대화 다시보기 - 1번 김학일</h2>
                <div class="btn-box">
                    <button type="button" class="close ico-modal-close-bg">닫기</button>
                </div>
            </div>
            <div class="popup-body ver3">
                <div class="chat-wrap">
                    <ul class="chat-list">
                        <!-- My Story -->
                        <li class="chat-item user">
                            <div class="chat-sender">
                                <div class="chat-avata">
                                    <img src="" alt="">
                                </div>
                                <div class="chat-body">
                                    <div class="story-chat">
                                        <div class="story-original"></div>
                                        <div class="story-translated"></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- AI Hint -->
                        <li class="chat-item order">
                            <div class="chat-body">
                                <div class="story-hint-chat">
                                    <i class="icn"></i>
                                    <p>힌트메세지</p>
                                    <label>힌트</label>
                                </div>
                            </div>
                        </li>

                        <!-- AI Hint Chat -->
                        <li class="chat-item order">
                            <div class="chat-body">
                                <div class="story-chat">
                                    <p class="story-hint"></p>
                                    <p class="story-original"></p>
                                    <div class="story-utils"></div>
                                </div>
                            </div>
                        </li>

                        <!-- AI Record -->
                        <li class="chat-item order">
                            <div class="chat-sender">
                                <div class="chat-avata">
                                    <img src="" alt="">
                                </div>
                                <div class="chat-body">
                                    <div class="story-record-chat">
                                        <p class="explan">녹음 버튼을 누른 후 말하세요</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- AI Story -->
                        <li class="chat-item order">
                            <div class="chat-sender">
                                <div class="chat-avata">
                                    <img src="" alt="">
                                </div>
                                <div class="chat-body">
                                    <div class="story-target-chat">
                                        <p>my 어쩌구</p>
                                    </div>
                                    <div class="story-feedback-chat">
                                        <p class="title"><strong>교정이 필요합니다</strong></p>
                                        <p class="explan">이름은 대문자로 시작해야 합니다</p>
                                        <dl class="corect">
                                            <dt class="corect-label">교정된 문장</dt>
                                            <dd class="corect-translated">My 얼씨구</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //대화다시보기 Popup -->
</div>