@import 'variables';
@import 'common';

/* Bootstrap Transition */
.fade {
	transition: opacity .15s linear;
	&:not(.show){
		opacity: 0;
	}
}

// s: 기본
.modal {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

	.modal-dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		transition: transform .3s ease-out;
		transform: translate(0, 50px);
		pointer-events: none;
		.btn-close {
			margin-left: auto;
		}
	}
	// 인터렉션
	&.show .modal-dialog {
		transform: none;
	}
	&.modal-static .modal-dialog {
		transform: scale(1.02);
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	&.show {
		opacity: 0.5;
	}
	& + .modal-backdrop {
		z-index: 2000;
	}
}
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 280px;
	max-width: calc(100% - 40px);
	max-height: calc(100%);
	background-color: #fff;
	pointer-events: auto;
	transition: all 0.2s ease;
	.modal-header {
		flex:none;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            padding: 0;

            .icn-modal-close {
				display: block;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black'/%3E%3Cpath d='M29 19L19 29M19 19L29 29' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
	}
	.modal-body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;
		overflow: hidden;

		.modal-inner {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-basis: auto;
			overflow: auto;

			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
				background-color: transparent;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #E6E6E6;
				border-radius: 5px;
				transition: all 0.2s ease;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #ccc;
			}
		}
		.tab-style1,
		.tab-style2 {
			top: 0;
		}
	}
	.modal-footer {
		display: flex;
		flex:none;
	}
}

// Full
.modal-full {
	.modal-dialog {
        transform: translate(0, 50px);
        padding: rem-calc(30px) rem-calc(60px);
	}

	.modal-content {
        width: 100%;
        max-width: 1160px;
        max-height: 100%;
        background: no-repeat right top;
        background-image: url("data:image/svg+xml,%3Csvg width='1160' height='961' viewBox='0 0 1160 961' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 937V24C0 10.7452 10.7451 0 24 0H1076C1089.25 0 1100 10.7452 1100 24C1100 43.8822 1116.12 60 1136 60C1149.25 60 1160 70.7452 1160 84V937C1160 950.255 1149.25 961 1136 961H24C10.7452 961 0 950.255 0 937Z' fill='white'/%3E%3C/svg%3E%0A");
        background-color: transparent;
        border-radius: 20px;
		overflow: hidden;
	}

	.modal-body {
		padding: rem-calc(60px) rem-calc(16px) rem-calc(60px) rem-calc(60px);
		.modal-inner {
			padding-right: rem-calc(34px);
		}
	}

    @include tablet {
        &.fade {
            transition: opacity .15s linear;
        }
        .modal-dialog {
            transform: translate(0, 0);
        }
        .modal-content {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;

        }
    }
}

// 게시판형 모달페이지
.modal-board-page {
	padding-top: rem-calc(60px) !important;

	.modal-header {
		flex: none;
        padding-bottom: rem-calc(40px);
		.btn-back {
			display: flex;
			align-items: center;
			gap: rem-calc(12px);
			padding: 0;
			font-weight: 700;
			font-size: rem-calc(16px);
			line-height: rem-calc(28px);
			color: #000;

			.icn-modal-back {
				display: block;
				width: rem-calc(32px);
				height: rem-calc(32px);
				background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' transform='rotate(180 16 16)' fill='white' stroke='%23CDCDCD'/%3E%3Cpath d='M21.332 16L10.6654 16M10.6654 16L14.6654 20M10.6654 16L14.6654 12' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
		}
    }
	.modal-body {
		padding-top: 0;
	}
}

// 2022개정 교과서 보기 모달 페이지
.modal-book-page {
	background: none !important;
	.modal-header {
		height: rem-calc(119px);
		padding: rem-calc(30px) rem-calc(60px);
		background: url('../../img/main/img_book_header.png');
		color: #fff;

		.modal-title {
			font-weight: 700;
			font-size: rem-calc(24px);
			line-height: 100%;
		}

		.modal-explain {
			margin-top: rem-calc(10px);
			font-weight: 500;
			font-size: rem-calc(18px);
			line-height: rem-calc(24px);
		}
	}
	.modal-body {
		padding-top: rem-calc(24px);
		background-color: #fff;
	}
}

